// Light theme
$light-theme-bg: #ffffff;
// $light-theme-bg: #f8f9fa;
$light-theme-text: #212529;
$light-theme-primary: #0d6efd;
$light-theme-secondary: #6c757d;

// Dark theme
$dark-theme-bg: #343a40;
$dark-theme-text: #f8f9fa;
$dark-theme-primary: #fd7e14;
$dark-theme-secondary: #adb5bd;
