* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

main {
	display: flex;
	flex-wrap: wrap;
	width: 80vh;
	height: 60vh;
	margin: 0 auto;
}

body {
	color: palevioletred;
	font-family: 'Permanent Marker', cursive;
	background-color: cadetblue;
	align-items: center;
}

h1 {
	font-size: 60px;
	text-align: center;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#gameboard {
	display: flex;
	width: 450px;
	height: 450px;
	flex-wrap: wrap;
	margin-top: 50px;
}

#playerNames {
	display: flex;
	width: 80vh;
	margin: 0 auto;
	flex-direction: column;
	gap: 10px;
	margin-top: 20px;
}
#playerNames input,
button {
	padding: 10px 15px;
	border-radius: 5px;
	border: 1px solid grey;
}

.box {
	width: 150px;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: palevioletred;
	font-size: 150px;
	border-right: 5px solid palevioletred;
	border-bottom: 5px solid palevioletred;
	transition: all 0.5s;
	cursor: pointer;
}

.box:nth-child(3n) {
	border-right: none;
}

.box:nth-child(6) ~ .box {
	border-bottom: none;
}

.players-feedback {
	padding: 50px;
	font-size: 30px;
	position: fixed;
	top: 10px;
	left: 10px;
	background-color: antiquewhite;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}
